@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "Jost", sans-serif;
}

.bg-img {
    background-image: url('/img/newslide-01.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}