@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Poppins', sans-serif;
}

.bg-img {
    background-image: url('/img/newslide-01.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}